<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="app">
        <div class="top">
            <h2>Add New</h2>
        </div>
        <form id="search-form" method="post">
            <input type="text" name="food" id="new-item" placeholder="Enter new item">
            <button type="submit" id="search">Submit</button>
        </form>
        <div id="search-results"></div>
    </div>
</body>
</html>
