<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="cnt">
        <div>
            <h1>Welcome</h1>
        </div>
        <div id="input-area" style="display: none;">
            <form method="post">
                <input type="text" id="name-input" name="username" placeholder="Enter username" autofocus>
                <input type="submit" value="Login" class='btn'>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
